<%= form_with(model: company, data: { controller: "company-autocomplete showifvalue" }) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :info, style: "display: block" %>
    <%= form.text_area :info, readonly: true, rows: 5, data: { company_autocomplete_target: "paste" } %>
  </div>

  <div>
    <%= form.label :country_code, style: "display: block" %>
    <%= form.select :country_code, ["FR", "UK"], {include_blank: true}, data: { showifvalue_target: "input", action: "change->showifvalue#toggle" } %>
  </div>

  <div data-showifvalue-target="output" data-showif-value="FR">
    <%= form.label :search_fr, style: "display: block" %>
    <%= form.text_field :search_fr, data: { country: "FR", controller: "company-search", action: "input->company-search#search" } %>
  </div>

  <div data-showifvalue-target="output" data-showif-value="UK">
    <%= form.label :search_uk, style: "display: block" %>
    <%= form.text_field :search_uk, data: { country: "UK", controller: "company-search", action: "input->company-search#search" } %>
  </div>

  <div id="results" data-company-autocomplete-target="results">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
