<%= form_with(model: company, data: { controller: "company-autocomplete" }) do |form| %>
  <% if company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :info, style: "display: block" %>
    <%= form.text_area :info, readonly: true, rows: 5, data: { company_autocomplete_target: "paste" } %>
  </div>

  <div>
    <%= form.label :search, style: "display: block" %>
    <%= form.text_field :search, data: { controller: "company-search", action: "input->company-search#search" } %>
  </div>

  <div id="results" data-company-autocomplete-target="results">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
